{% extends 'base.html' %}

{% block head %}
<title>Roles</title>
{% endblock %}


{% block body %}
    {% if roles|length %}
        {% for role in roles %}
            <th>{{ role.id }}</th>
            <th>{{ role.name }}</th>
            <th><a class="btn btn-danger" href="/roles/delete/{{role.id}}">Delete</a></th>
            <th><a class="btn btn-primary" href="/roles/edit/{{role.id}}">Edit</a></th>
        {% endfor %}
    {% else %}
        <p>There is no roles to manage :(</p>
        <form action="/roles" method="POST">
            <input type="submit" value="Add roles">
        </form>
    {% endif %}
{% endblock %}