{% extends 'base.html' %}

{% block head %}
<title>Users</title>
{% endblock %}


{% block body %}
<br>
    <br>
    {% if users|length %}
        {% for user in users %}
            <th>{{ user.id }}</th>
            <th>{{ user.username }}</th>
            <th>{{ user.email }}</th>
            <th>{{ user.register_date }}</th>
            <th><a class="btn btn-danger" href="/users/delete/{{user.id}}">Delete</a></th>
            {% if roles|length %}
            <th>dziala</th>
                {% for role in roles %}
                    <th><a class="btn btn-primary" href="/users/add_role/{{user.id}}/{{role.id}}">{{role.name}}</a></th>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There is no users to manage :(</p>
    {% endif %}
{% endblock %}